@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

.light-text {
  color: var(--dark-gray);
  font-weight: normal;
}

span {
  padding-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  background-color: var(--dark-cyan);
  position: relative;
  color: var(--very-dark-desaturated-blue);
  text-align: center;
  font-weight: 700;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
}

.top-half {
  background: url(images/bg-pattern-card.svg);
  height: 100px;
  border-radius: 10px 10px 0 0;
}

.middle-half {
  border-bottom: 1px solid var(--dark-gray);
  background-color: white;
  display: flex;
  flex-direction: column;
}

.img-holder {
  align-self: center;
  margin-top: -50px;
}

img {
  border-radius: 50%;
}

.name {
  padding-top: 20px;
}

.location {
  padding: 20px 0;
}

.bottom-half {
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding-top: 20px;
  display: flex;
}

.item {
  margin: 20px auto;
}

.sub-heading {
  margin-top: 7px;
  font-size: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
